.App {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li {
  font-size: 1.5em;
  margin: 10px;
}

button {
  margin-left: 5px;
}

a {
  text-decoration: none;
  margin-left: 5px;
}

.checktrue {
  color: lightgray;
}

.InputForm input {
  height: 1.5em;
}